<div class="reveal">

	<!-- Any section element inside of this container is displayed as a slide -->
	<div class="slides">

		<section data-markdown>
			<script type="text/template">
				<img src="img/slc.png" class="img-circle img-responsive img-center profile" />
				## Title
				#####  edition
				####  Company
			</script>
		</section>

		<section data-markdown>
			<script type="text/template">
				
			</script>
		</section>

		<section data-markdown data-separator-vertical='---'>
			<script type="text/template">
				
			</script>
		</section>

		<section data-markdown>
			<script type="text/template">
				## Questions?

				<br />
				

			</script>
		</section>

	</div>

</div>